@font-face{
    font-family: myfirstfont;
    src: url('MoonbrightDemo-1GGn2.ttf');
}
@font-face{
    font-family: mysecfont;
    src: url('DontClickMeDemoRegular-2X28.ttf');
}
.one h1{
    color: antiquewhite;
    font-size: 4.0em;
    font-family: myfirstfont;

}
.one p{
    color: gold;
    font-size: 2.0em;
    font-family: mysecfont;
}
